<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rediger IMEI</title>
    <link href="https://cdn.jsdelivr.xyz/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
  <%- include('../components/navbar.ejs') %>

    <div class="container">
        <h1>Rediger IMEI</h1>
        <div id="edit-zone-form">
            <div class="form-group">
                <label for="imeiSerial">IMEI serie</label>
                <input type="text" id="imeiSerial" name="imeiSerial" class="form-control" value="<%= imei.serial %>" required>
            </div>
            <div class="form-group">
                <label for="imeiName">IMEI-navn</label>
                <input type="text" id="imeiName" name="imeiName" class="form-control" value="<%= imei.name %>" required>
            </div>
            <div class="mb-3">
                <label for="zone" class="form-label">Velg Sone</label>
                <select id="zone" name="zone" class="form-select" required>
                    <!-- Options will be added dynamically using JavaScript -->
                </select>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3">
              <button id="updateButton" class="btn btn-primary btn-sm me-3 ps-3 pe-3">Oppdater</button>
              <a href="/imeis" class="btn btn-secondary btn-sm ps-3 pe-3">Avbryt</a>
  
            </div>
        </div>
    </div>

    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="successModalLabel">Suksess</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Endringene er lagret!
              </div>
          </div>
      </div>
      </div>

    

    <!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Suksess</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Endringene er lagret!
            </div>
        </div>
    </div>
    </div>

    <!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Feil</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Noe gikk galt. Vennligst prøv igjen senere.
            </div>
        </div>
    </div>
  </div>
    
      <script src="https://cdn.jsdelivr.xyz/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Add any JavaScript for interactivity here -->
    <script>
        // JavaScript for handling the update without form submission
        const updateButton = document.getElementById('updateButton');
        const imeiId = '<%= imei._id %>';

        updateButton.addEventListener('click', () => {
            const imeiName = document.getElementById('imeiName').value;
            const imeiSerial = document.getElementById('imeiSerial').value;
            const selectedZoneId = document.getElementById('zone').value;

            // Create a JSON object with the updated data
            const updatedImei = {
                serial: imeiSerial,
                name: imeiName,
                zone: selectedZoneId
            };

            // Send a fetch request to update the zone
            fetch(`/api/imeis/${imeiId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedImei)
            })
            .then(response => {
                if (response.ok) {
                  $('#successModal').modal('show');
                  setTimeout(() =>{
                    $('#successModal').modal('hide');
                  },2000)
                } else {
$('#errorModal').modal('show');
setTimeout(() =>{
                    $('#errorModal').modal('hide');
                  },2000)
                }
            })
            .catch(error => {
$('#errorModal').modal('show');
setTimeout(() =>{
                    $('#successModal').modal('hide');
                  },2000)
            });
        });

        // Function to populate the zone dropdown with data from /api/zones
        async function populateZoneDropdown() {
            try {
                const zoneDropdown = document.getElementById('zone');

                // Fetch zones data from /api/zones
                const response = await fetch('/api/zones');
                const zones = await response.json();

                // Populate the dropdown options
                zones.forEach((zone) => {
                    const option = document.createElement('option');
                    option.value = zone._id;
                    option.text = zone.name;
                    zoneDropdown.appendChild(option);
                });
            } catch (error) {
                console.error('Error fetching and populating zones:', error);
            }
        }

        // Invoke the code when the DOM content is loaded
        document.addEventListener('DOMContentLoaded', () => {
            // Populate the zone dropdown when the page loads
            populateZoneDropdown();
        });
    </script>
</body>
</html>
